<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <!--
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Rolling Flat File Trace Listener" 
           type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           fileName="Log\Trace.log"
           formatter="Text Formatter" 
           rollInterval="Day"
          />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           template="Process Name: {processName}{newline}Severity: {severity}{newline}Message: {newline}{message}{newline}" 
           name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  
  <dataConfiguration defaultDatabase="AshpDbEntities"/>
  -->
  <!-- WCF Logs: Uncomment to Debug on Server 
  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="traceListener" initializeData="C:\Users\Chris\Source\Logs\Ashp\Traces.svclog" type="System.Diagnostics.XmlWriterTraceListener" traceOutputOptions="Timestamp">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add name="messageListener" initializeData="C:\Users\Chris\Source\Logs\Ashp\Messages.svclog" type="System.Diagnostics.XmlWriterTraceListener" traceOutputOptions="Timestamp">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true"/>
  </system.diagnostics>
  -->
  <connectionStrings>
    <!-- DEV/TEST -->
    <add name="AshpDbEntities" connectionString="metadata=res://*/DAL.AshpDbModel.csdl|res://*/DAL.AshpDbModel.ssdl|res://*/DAL.AshpDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=AshpDb;persist security info=True;user id=sa;password=Passw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    
    <!-- PROD 
    <add name="AshpDbEntities" connectionString="metadata=res://*/DAL.AshpDbModel.csdl|res://*/DAL.AshpDbModel.ssdl|res://*/DAL.AshpDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ASHPHIDWEB;Initial Catalog=AshpDb;Persist Security Info=True;User ID=sa;Password=Ashp20814;Connect Timeout=200;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    -->
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="ServiceName" value="AshpAuthenticationService"/>
    <add key="SessionMaxLifetime" value="1440"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IASHPService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- OLD TEST 
      <endpoint address="http://test-ws.ashp.org/ashpauthentication/Service.svc"
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IASHPService"
                contract="AshpService.IASHPService" 
                name="BasicHttpBinding_IASHPService" />
      -->
      <!-- TEST -->
      <endpoint address="http://test3-ws.ashp.org/ashpauthentication/Service.svc"
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IASHPService"
                contract="AshpService.IASHPService" 
                name="BasicHttpBinding_IASHPService" />
      <!-- PROD 
      <endpoint address="http://ws.ashp.org/ashpauthentication/Service.svc" 
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IASHPService" 
                contract="AshpService.IASHPService" 
                name="BasicHttpBinding_IASHPService" 
                behaviorConfiguration="SoapBehavior"/>
      -->
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp helpEnabled="true"/>
        </behavior>
        <behavior name="SoapBehavior"/>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <!--<add binding="basicHttpsBinding" scheme="https"/>-->
      <add scheme="http" binding="webHttpBinding"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <security>
      <requestFiltering>
        <verbs>
          <add verb="DELETE" allowed="true"/>
          <add verb="PUT" allowed="true"/>
          <add verb="POST" allowed="true"/>
        </verbs>
      </requestFiltering>
    </security>
    <handlers>
      <remove name="WebDAV"/>
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
</configuration>